@font-face {
  font-family: "VCR";
  src: url("./assets/VCR_OSD_MONO_1.001.ttf");
}

html {
  width: 100vw;
  height: 100vh;
}

p, h1, h2, h3, h4, h5, a, button {
  font-family: "VCR";
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "VCR";
  background-color: #2a2a2a;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
}

/* body:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
} */

body h1 {
  margin-top: 0;
  color: #fff;
  font-size: 60px;
  text-align: center;
}

.spooterfi-app {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body button {
  font-size: 32px;
  padding: 8px 32px;
  border-radius: 0;
  border-style: dotted;
  background: #D61727;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}

body button {
  outline-color: #fff;
}

body input:focus-visible,
body select:focus-visible {
  outline-color: #D61727;
}

body button:hover {
  text-decoration: underline;
  filter: brightness(1.2);
}

input {
  font-size: 20px;
  font-family: 'VCR';
  padding: 10px 20px;
}

.voting-app button#back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.voting-app button#listvotes {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.voting-app button#announce {
  position: absolute;
  bottom: 10px;
  right: 30px;
}

/** -------- reconnect view ----------- **/
.voting-app[data-state="reconnect"] img {
  max-width: 95%;
}

.voting-app[data-state="reconnect"] input {
  margin: 30px auto 10px;
  min-width: 360px;
}

/** ---------- edit view --------- **/
.voting-app[data-state="edit"] p {
  color: #fff;
}

.voting-app select {
  font-family: 'VCR';
  font-size: 20px;
  padding: 10px 20px;
}

.voting-app[data-state="edit"] .alert-message,
.voting-app[data-state="edit"] .add-complete,
.voting-app[data-state="setup"] .setup-alert {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
  text-align: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 20px;
  width: 100%;
}

.voting-app[data-state="edit"] .alert-message.hidden,
.voting-app[data-state="edit"] .add-complete.hidden,
.voting-app[data-state="setup"] .setup-alert.hidden {
  opacity: 0;
  visibility: hidden;
}

.voting-app[data-state="edit"] .removed {
  display: none;
  pointer-events: none;
}

.voting-app[data-state="edit"] .edit-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.voting-app[data-state="edit"] .nickname-inputs {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
  margin: 0 auto 20px;
}

.voting-app[data-state="edit"] .nickname-inputs input {
  margin: 5px 10px 5px 0;
}

.voting-app[data-state="edit"] .nickname-inputs button#add-nickname {
  margin: 0;
}

.voting-app[data-state="edit"] .add-warning {
  text-align: center;
}

.voting-app[data-state="edit"] button#submit-changes,
.voting-app[data-state="edit"] button#submit-new,
.voting-app[data-state="edit"] input.new-killer {
  align-self: center;
}

.voting-app[data-state="edit"] button#add-new {
  position: absolute;
  top: 10px;
  right: 10px;
}

.voting-app[data-state="edit"] input.new-killer {
  margin-bottom: 10px;
}

.voting-app[data-state="edit"] .strike-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
}

/** ---------- setup view ---------- **/
.voting-app[data-state="setup"] .setup-alert {
  color: #fff;
  bottom: -50px;
}

.voting-app[data-state="setup"] input {
  margin-bottom: 10px;
  min-width: 360px;
}

.voting-app[data-state="setup"] .setup-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** ---------- announce view ---------- **/
.voting-app[data-state="announce"] .winner-select {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.voting-app[data-state="announce"] .winning-viewer {
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 140px;
  font-size: 40px;
}

/** ------------ edit mods view ------------- **/

.voting-app[data-state="editMods"] .edit-mods-section {
  color: #fff;
}

.edit-mods-section .existing-mod {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.existing-mod p {
  margin: 0;
  font-size: 20px;
}

.existing-mod button {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 0;
  margin-left: 10px;
}

/** edit killer name **/

.edit-killer-main-name {
    position: relative;
}
.killer-dropdown-container {
    display: flex;
}

button#submit-new-killer-name {
    background: transparent;
    border: none;
    font-weight: bold;
    position: absolute;
    padding: 0 10px;
    margin-bottom: 0;
    right: 0;
}

button#edit-killer-original-name {
    height: 44px;
    display: block;
    position: relative;
    margin: 0;
    padding: 2px 8px;
}

button#edit-killer-original-name img {
    height: 100%;
    width: auto;
}

.relaunching {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 40px;
}