@font-face {
  font-family: "VCR";
  src: url("./assets/VCR_OSD_MONO_1.001.ttf");
}

@font-face {
  font-family: "Merchant Copy";
  src: url("./assets/Merchant_Copy.ttf");
}

html {
  width: 100vw;
  height: 100vh;
}

p, h1, h2, h3, h4, h5, a, button {
  font-family: "Merchant Copy";
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Merchant Copy";
  background-color: #2a2a2a;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
}

/* body:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
} */

body h1 {
  margin-top: 0;
  color: #fff;
  font-size: 60px;
  text-align: center;
}

.spooterfi-app {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body button {
  font-size: 32px;
  padding: 8px 32px;
  border-radius: 0;
  border-style: dotted;
  /* background: #D61727; */
  background: #6efdf2;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}

body button {
  outline-color: #fff;
}

body input:focus-visible,
body select:focus-visible {
  outline-color: #b60ddc;
}

body button:not(:disabled):hover {
  text-decoration: underline;
  filter: brightness(1.2);
}

body button:disabled {
    cursor: no-drop;
}

input {
  font-size: 20px;
  font-family: 'Merchant Copy';
  padding: 10px 20px;
}